body {
    background-color: lightseagreen /*Changed Background*/
  }
  
  h1 {
    color: #FFF; /* Edited header */
    margin-left: 5px;
    padding: top;
    text-align: center;
  }
  h2,h3 {
      text-decoration: rgb(100,100,100); /* Days to Gray */
      margin-top: 3cm;
      padding: right;
  }

  head {
      margin-right: 1em;
      padding: left;

  }
 section {
     margin-bottom: 2vh;
     border-bottom:seashell;
     padding:bottom;
 }



.box{ /* Create Box */
    border-radius: 20px;
    border-color: hsl(30,20,30);
    border-width: 3mm;
    border-radius: 1mm;

}

h1{
    border-top: 2px dotted rebeccapurple;
    border-bottom: 1em double lightskyblue;
}
video{
    margin:auto
}

.square {
    border:5px solid darkblue;
    height:10%;
    width: 5%;
}
summary{
    position:relative;
    left: 40px;
}
button:hover{ /*change hover color */
    color:limegreen;
}
button:active{ /*when clicked turns red */
    color:Red;
}

#day1{
    text-shadow:violet;
}
*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
@media only screen and (max-width: 800px) {
    [class*="col-"] {
      width: 100%;
    }
  }
  a[href*=".png"]{
      padding: 10px;
  }
 
  ul li{
      color:red;
  }
  ol > li{
      font-style: italic;
  }
  