body {
    background-color: lightseagreen /*Changed Background*/
  }
  
  h1 {
    color: #FFF; /* Edited header */
    margin-left: 5px;
    padding: top;
  }
  h2 {
      text-decoration: rgb(100,100,100); /* Days to Gray */
      margin-top: 3cm;
      padding: right;
  }

  head {
      margin-right: 1em;
      padding: left;

  }
 body {
     margin-bottom: 2vh;
 }

.block, video {
    border: 3ex hsl(100,200,30);
    padding: .5Q;

}
summary{
    border-radius: 3px;
    padding-top: 5mm;
    text-align: justify;
}
